* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: sans-serif;
}

html {
	font-size: 18px;
}

.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

button {
	background: none;
	border: none;
	width: fit-content;
	height: fit-content;
	border-radius: 5px;
	background-color: #fff;
	border: 1px solid #000;
	padding: .5rem;
	display: flex;
	align-items: center;
	gap: .5rem;
	font-size: 1.3rem;
}

button:focus {
	outline: none;
}

button:active {
	filter: brightness(.9);
}

button:hover {
	cursor: pointer;
}


.input {
	min-width: 400px;
	font-size: 1.2rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: .5rem;
	margin-bottom: 1rem;
}

.input input {
	padding: .5rem 1rem;
	font-size: 1rem;
}

.save-credentials {
	margin-bottom: 5rem;
}

.credentials {
	max-width: 500px;
	margin: 2rem;
}